* {
  margin: 0;
  padding: 0; }

header {
  background-color: #1f2023;
  width: 100%;
  height: 120px; }

.ancla {
  height: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  width: auto;
  border: 1px solid #EBEDF0; }

.ancla p {
  margin-top: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: xx-large; }

a {
  text-decoration: none; }
  .globo{
    animation-name:dibujo;
    animation-duration: 3s;
    border: #495057 1px dotted;
    width: 90%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-left: 4%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
  }

.barraDeNav {
  height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.ancla:hover {
  background-color: #495057;
  transition: all 4s; }

footer {
  border-top: 1px solid #EBEDF0; }

.box3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px; }

@keyframes dibujo {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.dibujo {
  width: 350px;
  height: 400px;
  animation-name: dibujo;
  animation-duration: 3s; }

.ejemploDeComision {
  border-radius: 1px;
  border-top: 0.5px solid #EBEDF0; }

.ejemploDeComision {
  width: 600px;
  height: 400px; }
.zind1{
  z-index: 1;
}
.zind0{
  z-index: 0;
}
.descripcion {
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 40px;
  width: auto;
  background-color: beige;
  border-radius: 5px;
  border: black dotted 0.5px;
  padding: 5px; }

#ranitatxt {
  grid-area: ranitatxt; }

#ranitaimg {
  grid-area: ranitaimg; }

#ittoimg {
  grid-area: ittoimg; }

#ittotxt {
  grid-area: ittotxt; }

#chibiimg {
  grid-area: chibiimg; }

#chibitxt {
  grid-area: chibitxt; }

#sketchtxt {
  grid-area: sketchtxt; }

#sketchimg {
  grid-area: sketchimg; }

#commissions {
  display: grid;
  grid-template-areas: "ittoimg ittotxt"
 "ranitaimg ranitatxt"
 "chibiimg chibitxt"
 "sketchimg sketchtxt";
  grid-template-columns: 600px auto;
  grid-template-rows: 400px 400px; }

.aboutme {
  width: 100%;
  display: flex;
  flex-direction: row; }

.cajaDeTexto {
  height: 400px;
  width: 32%;
  gap: 1%;
  display: flex;
  display: inline-table;
  background-color: #1f2023; }
  .cajaDeTexto img {
    margin-top: 300%; }

.subt {
  height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: x-large; }

.about {
  font-size: large; }

body {
  background: linear-gradient(to right, azure, #FFF); }

.box5 {
  margin-top: 25%;
  width: 22%;
  display: flex;
  flex-direction: column;
  background-color: beige; }

@media (min-width: 1650px) {
  .dibujo {
    width: 24.5%;
    height: 400px;
    animation-name: dibujo;
    animation-duration: 3s; } }

.navigator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 120px; }

.cajaDenavigator {
  height: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  width: auto;
  border: 1px solid #EBEDF0; }
  .cajaDenavigator p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: xx-large; }

.cc {
  margin-top: 100px; }

.hh {
  margin: 50px 25px; }

.H400 {
  height: 400px; }
.card{
  width: 400px;
 margin: 0 40px;}
  .flex1{
  display: flex;
  flex-direction: row;

  }
  @media(max-width:456px){
    .card{
      width: 350px;
    }
  }
@media (max-width: 330px) {
  .container {
    padding: 0;
    margin-left: 0%; }
  .espaciado {
    margin: 40px 15%; }
  .card {
    width: 11rem; } }

@media (min-width: 1400px) {
  .hh {
    width: 600px; } }

@media (min-width: 1200px) {
  .hh {
    width: 400px; } }

@media (min-width: 1400px) {
  .hh {
    width: 500px; } }

@media (max-width: 1000px) {
  .barraDeNav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .carousel {
    margin-top: 400px; }
  .ancla {
    padding: 20%;
    margin-top: 0%; }
  .hh {
    width: 700px; } }

@media (max-width: 700px) {
  .carousel {
    margin-top: 40%; } }

@media (max-width: 760px) {
  .hh {
    width: 650px;
    margin: 40px 0; }
  .container {
    margin: 0;
    padding: 0; } }

@media (max-width: 660px) {
  .hh {
    margin: 50px 0px;
    width: 500px; }
  .nomargin {
    margin: 30px 0px; }
  .flex1 {
    display: flex;
    flex-direction: column; } }

@media (max-width: 515px) {
  .hh {
    width: 300px;
    margin: 20px 10%; } }

.margin2 {
  margin-bottom: 150px; }

@media (max-width: 370px) {
  .tamanio {
    width: 230px;
    height: 300px; }
  .tamanio2 {
    height: 240px;
    width: 200px; }
  .barraDeNav {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; } }

@media (max-width: 350px) {
  .hh {
    margin: 20px 0; }
  .subt {
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-size: large; } }

@media (max-width: 310px) {
  .hh {
    width: 160px;
    height: 380px;
    margin: 15px 0; } }

@media (max-width: 230px) {
  .container {
    padding: 0;
    margin-left: 0%; }
  .espaciado {
    margin: 40px 0px; }
  .card {
    width: 11rem; }
  .tamanio {
    width: 130px;
    height: 210px; }
  p {
    font-size: small; } }
@media (min-width:370px){
  .tamanio2{
    width: 360px;
    height: 380px;
  }
}
.buttonn{
  background-color: greenyellow;
  border: #495057 5px dotted;
  width: 300px;
  height: 150px;
  align-content: center;
  display: flex;
}